.wraper {
    height: 200px;
    margin-right: 30px;
    margin-left: 30px;
}


/* Mark BACKGROUND Color */
#myCharacter {
    background-color: aquamarine;
    margin-top: 20px;
}

#enemies {
    background-color: blueviolet;
    clear: both;
}

#defender {
    background-color: yellow;
}

/* ------------- these classes are created from JS -------------------- */
.individualBox {
    width: 220px;
    height: 150px;
    border: black 1px solid;
    margin-left: 20px;
    float: left;
    position: relative;
}

.floatName {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

.imgSize {
    height: 150px;
}



/*  R E S P O N S I V E  ==================================================================== */
@media screen and (max-width: 720px) {
    .individualBox {
        width: 120px;
        height: 120px;
        border: black 1px solid;
        margin-left: 20px;
        float: left;
        position: relative;
    }
    
    .imgSize {
        height: 90px;
    }

    .fontSize {
        font-size: 15px;
    }
}


@media screen and (max-width: 511px) {
    .individualBox {
        width: 80px;
        height: 80px;
        border: black 1px solid;
        margin-left: 20px;
        float: left;
        position: relative;
    }
    
    .imgSize {
        height: 70px;
    }

    .fontSize {
        font-size: 10px;
    }
    /* no margins */
    .wraper {
        height: 200px;
        margin-right: 0px;
        margin-left: 0px;
    }
}